.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem auto;
}

.title-container {
  display: flex;
  align-items: center;
}

.edit-title-button {
  height: 1.2rem;
}
